//  COLORS //

$pink: hsl(322, 100%, 66%);
$lightCyan: hsl(193, 100%, 96%);
$blue: hsl(192, 100%, 9%);
$grey: hsl(208, 11%, 55%);


// FONTS // 

$regularFont: 'Open Sans', sans-serif;
$headingsFont: 'Poppins', sans-serif; 

